<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>images/lottery/1000.png</key>
			<dict>
				<key>frame</key>
				<string>{{264,601},{90,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,36}</string>
			</dict>
			<key>images/lottery/1000_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2015,659},{79,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{79,32}</string>
			</dict>
			<key>images/lottery/10000.png</key>
			<dict>
				<key>frame</key>
				<string>{{1888,412},{112,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{112,36}</string>
			</dict>
			<key>images/lottery/10000_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2015,560},{97,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{97,32}</string>
			</dict>
			<key>images/lottery/100w.png</key>
			<dict>
				<key>frame</key>
				<string>{{1654,370},{104,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,40}</string>
			</dict>
			<key>images/lottery/100w_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{264,563},{91,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,36}</string>
			</dict>
			<key>images/lottery/10w.png</key>
			<dict>
				<key>frame</key>
				<string>{{1760,370},{83,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{83,40}</string>
			</dict>
			<key>images/lottery/10w_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{165,366},{72,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,36}</string>
			</dict>
			<key>images/lottery/arrow_pink.png</key>
			<dict>
				<key>frame</key>
				<string>{{2017,309},{29,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{29,39}</string>
			</dict>
			<key>images/lottery/btn_bet1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1195,223},{158,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{158,106}</string>
			</dict>
			<key>images/lottery/btn_bet2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1355,223},{158,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{158,106}</string>
			</dict>
			<key>images/lottery/btn_follow1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1195,331},{210,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{210,75}</string>
			</dict>
			<key>images/lottery/btn_record.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,688},{179,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{179,78}</string>
			</dict>
			<key>images/lottery/btn_red.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,563},{164,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{164,75}</string>
			</dict>
			<key>images/lottery/btn_rule.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,408},{123,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{123,78}</string>
			</dict>
			<key>images/lottery/frame_bet.png</key>
			<dict>
				<key>frame</key>
				<string>{{1037,223},{156,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,150}</string>
			</dict>
			<key>images/lottery/frame_his.png</key>
			<dict>
				<key>frame</key>
				<string>{{167,563},{95,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{95,53}</string>
			</dict>
			<key>images/lottery/frame_jackpot.png</key>
			<dict>
				<key>frame</key>
				<string>{{1654,234},{234,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{234,134}</string>
			</dict>
			<key>images/lottery/frame_mid.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{1034,289}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1034,289}</string>
			</dict>
			<key>images/lottery/frame_record3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1576,134},{552,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{552,76}</string>
			</dict>
			<key>images/lottery/frame_winner.png</key>
			<dict>
				<key>frame</key>
				<string>{{1654,540},{248,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{248,148}</string>
			</dict>
			<key>images/lottery/icon_ssc_desk.png</key>
			<dict>
				<key>frame</key>
				<string>{{81,372},{103,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{103,82}</string>
			</dict>
			<key>images/lottery/text_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{2017,393},{40,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{40,27}</string>
			</dict>
			<key>images/lottery/text_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{2017,435},{40,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{40,27}</string>
			</dict>
			<key>images/lottery/text_30.png</key>
			<dict>
				<key>frame</key>
				<string>{{2017,1},{111,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{111,29}</string>
			</dict>
			<key>images/lottery/text_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{2017,350},{41,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{41,27}</string>
			</dict>
			<key>images/lottery/text_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{2017,519},{39,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{39,27}</string>
			</dict>
			<key>images/lottery/text_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{2017,477},{40,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{40,27}</string>
			</dict>
			<key>images/lottery/text_his.png</key>
			<dict>
				<key>frame</key>
				<string>{{1890,234},{176,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{176,36}</string>
			</dict>
			<key>images/lottery/text_kjdjs.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,640},{157,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{157,45}</string>
			</dict>
			<key>images/lottery/text_name.png</key>
			<dict>
				<key>frame</key>
				<string>{{165,408},{72,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,42}</string>
			</dict>
			<key>images/lottery/text_reword.png</key>
			<dict>
				<key>frame</key>
				<string>{{81,477},{72,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{72,43}</string>
			</dict>
			<key>images/lottery/text_time.png</key>
			<dict>
				<key>frame</key>
				<string>{{126,292},{72,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{72,44}</string>
			</dict>
			<key>images/lottery/title_record.png</key>
			<dict>
				<key>frame</key>
				<string>{{1928,1},{537,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{537,87}</string>
			</dict>
			<key>images/lottery/title_ssc.png</key>
			<dict>
				<key>frame</key>
				<string>{{1037,1},{632,131}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{632,131}</string>
			</dict>
			<key>images/lottery/frame_record.png</key>
			<dict>
				<key>frame</key>
				<string>{{1671,1},{255,231}}</string>
				<key>offset</key>
				<string>{15,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{286,239}</string>
			</dict>
			<key>images/lottery/btn_follow2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1407,331},{210,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{210,72}</string>
			</dict>
			<key>images/lottery/text_bg_ssc1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1654,412},{232,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{232,94}</string>
			</dict>
			<key>images/lottery/text_bg_ssc2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1904,540},{252,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{252,109}</string>
			</dict>
			<key>images/lottery/text_jsz.png</key>
			<dict>
				<key>frame</key>
				<string>{{160,640},{128,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,46}</string>
			</dict>
			<key>images/lottery/btn_repeat.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,794},{194,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{194,75}</string>
			</dict>
			<key>images/lottery/btn_rank.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,292},{123,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{123,78}</string>
			</dict>
			<key>images/lottery/text_rank.png</key>
			<dict>
				<key>frame</key>
				<string>{{126,477},{72,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{72,43}</string>
			</dict>
			<key>images/lottery/title_rank.png</key>
			<dict>
				<key>frame</key>
				<string>{{1037,134},{537,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{537,87}</string>
			</dict>
			<key>images/lottery/lable_rank.png</key>
			<dict>
				<key>frame</key>
				<string>{{1515,223},{338,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{338,47}</string>
			</dict>
			<key>images/lottery/text_jrph.png</key>
			<dict>
				<key>frame</key>
				<string>{{2017,114},{96,24}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{164,40}</string>
			</dict>
			<key>images/lottery/text_zrph.png</key>
			<dict>
				<key>frame</key>
				<string>{{2017,212},{95,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{164,40}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>lottery.png</string>
			<key>realTextureFileName</key>
			<string>lottery.png</string>
			<key>size</key>
			<string>{2048,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>