<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>images/million_table/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1956,994},{21,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{21,26}</string>
			</dict>
			<key>images/million_table/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2019,478},{13,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{21,26}</string>
			</dict>
			<key>images/million_table/3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1987,1828},{19,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{21,26}</string>
			</dict>
			<key>images/million_table/banker_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1794,2},{1280,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{1280,96}</string>
			</dict>
			<key>images/million_table/bczg_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{161,1746},{155,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{155,38}</string>
			</dict>
			<key>images/million_table/bet_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,942},{192,72}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,83}</string>
			</dict>
			<key>images/million_table/do_banker.png</key>
			<dict>
				<key>frame</key>
				<string>{{438,369},{143,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{143,37}</string>
			</dict>
			<key>images/million_table/info_table.png</key>
			<dict>
				<key>frame</key>
				<string>{{829,1791},{720,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{720,92}</string>
			</dict>
			<key>images/million_table/jackpot_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1894,719},{406,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{406,58}</string>
			</dict>
			<key>images/million_table/jackpot_info.png</key>
			<dict>
				<key>frame</key>
				<string>{{1997,2},{167,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{167,42}</string>
			</dict>
			<key>images/million_table/jckj_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{1997,173},{167,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{167,41}</string>
			</dict>
			<key>images/million_table/last_winner.png</key>
			<dict>
				<key>frame</key>
				<string>{{776,1760},{200,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,49}</string>
			</dict>
			<key>images/million_table/line.png</key>
			<dict>
				<key>frame</key>
				<string>{{2043,2},{3,450}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{3,450}</string>
			</dict>
			<key>images/million_table/operator_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1599,700},{1280,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{1280,96}</string>
			</dict>
			<key>images/million_table/rank_arrow.png</key>
			<dict>
				<key>frame</key>
				<string>{{2019,451},{23,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{23,16}</string>
			</dict>
			<key>images/million_table/rank_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1997,344},{41,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{41,44}</string>
			</dict>
			<key>images/million_table/rank_item_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1894,2},{99,393}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,393}</string>
			</dict>
			<key>images/million_table/rank_new.png</key>
			<dict>
				<key>frame</key>
				<string>{{1956,719},{61,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{61,27}</string>
			</dict>
			<key>images/million_table/rank_pot.png</key>
			<dict>
				<key>frame</key>
				<string>{{1956,1019},{21,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{21,21}</string>
			</dict>
			<key>images/million_table/rank_win.png</key>
			<dict>
				<key>frame</key>
				<string>{{371,1524},{86,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,64}</string>
			</dict>
			<key>images/million_table/stand_player_title.png</key>
			<dict>
				<key>frame</key>
				<string>{{776,1022},{734,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{734,40}</string>
			</dict>
			<key>images/million_table/table_bet_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{477,770},{168,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{168,184}</string>
			</dict>
			<key>images/million_table/table_palyers.png</key>
			<dict>
				<key>frame</key>
				<string>{{104,1350},{62,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{62,62}</string>
			</dict>
			<key>images/million_table/wzwj_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{320,1746},{155,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{155,38}</string>
			</dict>
			<key>images/million_table/wan_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{156,1057},{34,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{34,33}</string>
			</dict>
			<key>images/million_table/join_banker_slider_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{840,242},{765,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{765,98}</string>
			</dict>
			<key>images/million_table/join_banker_slider_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{339,942},{104,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,70}</string>
			</dict>
			<key>images/million_table/number/0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1956,819},{25,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{25,31}</string>
			</dict>
			<key>images/million_table/number/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1894,692},{23,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{23,31}</string>
			</dict>
			<key>images/million_table/number/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1929,692},{23,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{23,31}</string>
			</dict>
			<key>images/million_table/number/3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1964,692},{23,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{23,31}</string>
			</dict>
			<key>images/million_table/number/4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1956,784},{26,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{26,31}</string>
			</dict>
			<key>images/million_table/number/5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1999,692},{23,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{23,31}</string>
			</dict>
			<key>images/million_table/number/6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1956,854},{25,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{25,31}</string>
			</dict>
			<key>images/million_table/number/7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1956,889},{25,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{25,31}</string>
			</dict>
			<key>images/million_table/number/8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1956,924},{25,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{25,31}</string>
			</dict>
			<key>images/million_table/number/9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1956,959},{25,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{25,31}</string>
			</dict>
			<key>images/million_table/number/dot.png</key>
			<dict>
				<key>frame</key>
				<string>{{2019,507},{15,14}}</string>
				<key>offset</key>
				<string>{0,-9}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{15,31}</string>
			</dict>
			<key>images/million_table/bet_0_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{665,767},{85,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{85,34}</string>
			</dict>
			<key>images/million_table/btn_chat.png</key>
			<dict>
				<key>frame</key>
				<string>{{282,1141},{102,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{102,106}</string>
			</dict>
			<key>images/million_table/btn_chat1.png</key>
			<dict>
				<key>frame</key>
				<string>{{210,594},{102,103}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{102,106}</string>
			</dict>
			<key>images/million_table/btn_qz.png</key>
			<dict>
				<key>frame</key>
				<string>{{227,779},{156,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,65}</string>
			</dict>
			<key>images/million_table/btn_reset.png</key>
			<dict>
				<key>frame</key>
				<string>{{274,1017},{71,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{71,48}</string>
			</dict>
			<key>images/million_table/btn_reset1.png</key>
			<dict>
				<key>frame</key>
				<string>{{170,1350},{71,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{71,48}</string>
			</dict>
			<key>images/million_table/btn_sz.png</key>
			<dict>
				<key>frame</key>
				<string>{{479,1738},{121,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{121,48}</string>
			</dict>
			<key>images/million_table/btn_sz1.png</key>
			<dict>
				<key>frame</key>
				<string>{{331,875},{121,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{121,48}</string>
			</dict>
			<key>images/million_table/btn_trend.png</key>
			<dict>
				<key>frame</key>
				<string>{{104,594},{102,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,104}</string>
			</dict>
			<key>images/million_table/btn_trend1.png</key>
			<dict>
				<key>frame</key>
				<string>{{176,1211},{102,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,106}</string>
			</dict>
			<key>images/million_table/btn_xz.png</key>
			<dict>
				<key>frame</key>
				<string>{{339,1016},{121,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{121,48}</string>
			</dict>
			<key>images/million_table/btn_xz1.png</key>
			<dict>
				<key>frame</key>
				<string>{{104,1018},{121,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{121,48}</string>
			</dict>
			<key>images/million_table/btn_xz2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1894,1129},{137,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{137,71}</string>
			</dict>
			<key>images/million_table/frame_bet1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1699,1852},{189,221}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{189,221}</string>
			</dict>
			<key>images/million_table/frame_bet2.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1419},{189,221}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{189,221}</string>
			</dict>
			<key>images/million_table/frame_bet3.png</key>
			<dict>
				<key>frame</key>
				<string>{{479,1419},{189,221}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{189,221}</string>
			</dict>
			<key>images/million_table/frame_bet4.png</key>
			<dict>
				<key>frame</key>
				<string>{{195,369},{189,221}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{189,221}</string>
			</dict>
			<key>images/million_table/frame_bottom.png</key>
			<dict>
				<key>frame</key>
				<string>{{1464,2},{1125,131}}</string>
				<key>offset</key>
				<string>{-8,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{1256,131}</string>
			</dict>
			<key>images/million_table/frame_reset.png</key>
			<dict>
				<key>frame</key>
				<string>{{1924,1852},{158,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{158,112}</string>
			</dict>
			<key>images/million_table/frame_z.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1791},{599,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{599,112}</string>
			</dict>
			<key>images/million_table/rank_lose.png</key>
			<dict>
				<key>frame</key>
				<string>{{104,1143},{86,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,64}</string>
			</dict>
			<key>images/million_table/self_lose_leaf.png</key>
			<dict>
				<key>frame</key>
				<string>{{399,1612},{122,268}}</string>
				<key>offset</key>
				<string>{2,5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{125,278}</string>
			</dict>
			<key>images/million_table/text_reword.png</key>
			<dict>
				<key>frame</key>
				<string>{{632,727},{69,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{69,36}</string>
			</dict>
			<key>images/million_table/tips.png</key>
			<dict>
				<key>frame</key>
				<string>{{2017,1828},{20,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,20}</string>
			</dict>
			<key>images/million_table/yi.png</key>
			<dict>
				<key>frame</key>
				<string>{{156,1018},{35,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{35,35}</string>
			</dict>
			<key>images/million_table/frame_reword.png</key>
			<dict>
				<key>frame</key>
				<string>{{388,369},{406,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{406,46}</string>
			</dict>
			<key>images/million_table/btn_xiazhu.png</key>
			<dict>
				<key>frame</key>
				<string>{{198,942},{137,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,71}</string>
			</dict>
			<key>images/million_table/pot_img.png</key>
			<dict>
				<key>frame</key>
				<string>{{665,933},{63,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{63,33}</string>
			</dict>
			<key>images/million_table/frame_player.png</key>
			<dict>
				<key>frame</key>
				<string>{{1894,451},{237,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{237,121}</string>
			</dict>
			<key>images/million_table/banker_img.png</key>
			<dict>
				<key>frame</key>
				<string>{{597,594},{36,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,41}</string>
			</dict>
			<key>images/million_table/btn_hall.png</key>
			<dict>
				<key>frame</key>
				<string>{{438,663},{103,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{103,37}</string>
			</dict>
			<key>images/million_table/btn_rule.png</key>
			<dict>
				<key>frame</key>
				<string>{{438,770},{101,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{101,35}</string>
			</dict>
			<key>images/million_table/frame_quit.png</key>
			<dict>
				<key>frame</key>
				<string>{{605,1747},{145,143}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{145,143}</string>
			</dict>
			<key>images/million_table/arrow.png</key>
			<dict>
				<key>frame</key>
				<string>{{707,369},{983,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{983,15}</string>
			</dict>
			<key>images/million_table/btn_buy.png</key>
			<dict>
				<key>frame</key>
				<string>{{479,639},{221,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{221,84}</string>
			</dict>
			<key>images/million_table/btn_know.png</key>
			<dict>
				<key>frame</key>
				<string>{{479,369},{221,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{221,84}</string>
			</dict>
			<key>images/million_table/btn_rank.png</key>
			<dict>
				<key>frame</key>
				<string>{{371,1413},{102,107}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,107}</string>
			</dict>
			<key>images/million_table/btn_rank1.png</key>
			<dict>
				<key>frame</key>
				<string>{{282,1247},{102,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{102,105}</string>
			</dict>
			<key>images/million_table/btn_rule_zb.png</key>
			<dict>
				<key>frame</key>
				<string>{{1444,1984},{208,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{208,55}</string>
			</dict>
			<key>images/million_table/btn_setcoin.png</key>
			<dict>
				<key>frame</key>
				<string>{{1894,399},{133,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{133,48}</string>
			</dict>
			<key>images/million_table/btn_setcoin1.png</key>
			<dict>
				<key>frame</key>
				<string>{{194,875},{133,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{133,48}</string>
			</dict>
			<key>images/million_table/btn_sz_list.png</key>
			<dict>
				<key>frame</key>
				<string>{{567,369},{221,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{221,84}</string>
			</dict>
			<key>images/million_table/btn_win.png</key>
			<dict>
				<key>frame</key>
				<string>{{104,1283},{63,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{63,64}</string>
			</dict>
			<key>images/million_table/frame.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{727,363}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{727,363}</string>
			</dict>
			<key>images/million_table/frame_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1792,1286},{562,191}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{562,191}</string>
			</dict>
			<key>images/million_table/frame_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{733,242},{776,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{776,103}</string>
			</dict>
			<key>images/million_table/frame_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{829,1887},{538,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{538,90}</string>
			</dict>
			<key>images/million_table/frame_lable.png</key>
			<dict>
				<key>frame</key>
				<string>{{707,1356},{387,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{387,56}</string>
			</dict>
			<key>images/million_table/frame_setcoin.png</key>
			<dict>
				<key>frame</key>
				<string>{{1371,1887},{158,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{158,87}</string>
			</dict>
			<key>images/million_table/frame_z_list.png</key>
			<dict>
				<key>frame</key>
				<string>{{733,2},{727,236}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{727,236}</string>
			</dict>
			<key>images/million_table/icon_c.png</key>
			<dict>
				<key>frame</key>
				<string>{{1699,1756},{86,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,86}</string>
			</dict>
			<key>images/million_table/lable1.png</key>
			<dict>
				<key>frame</key>
				<string>{{726,1022},{182,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{182,45}</string>
			</dict>
			<key>images/million_table/scroll1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1553,1131},{709,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{709,40}</string>
			</dict>
			<key>images/million_table/scroll_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1987,720},{727,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{727,57}</string>
			</dict>
			<key>images/million_table/text-dyj.png</key>
			<dict>
				<key>frame</key>
				<string>{{1553,1844},{41,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{41,114}</string>
			</dict>
			<key>images/million_table/text-zbs.png</key>
			<dict>
				<key>frame</key>
				<string>{{479,594},{41,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{41,114}</string>
			</dict>
			<key>images/million_table/text_tdxh.png</key>
			<dict>
				<key>frame</key>
				<string>{{1987,1451},{59,373}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{59,373}</string>
			</dict>
			<key>images/million_table/title_dyjkj.png</key>
			<dict>
				<key>frame</key>
				<string>{{1699,1420},{332,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{332,85}</string>
			</dict>
			<key>images/million_table/title_jcxx.png</key>
			<dict>
				<key>frame</key>
				<string>{{605,1022},{393,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{393,98}</string>
			</dict>
			<key>images/million_table/title_sfzs.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1644},{393,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{393,98}</string>
			</dict>
			<key>images/million_table/title_szlb.png</key>
			<dict>
				<key>frame</key>
				<string>{{391,1016},{393,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{393,98}</string>
			</dict>
			<key>images/million_table/turn_pre.png</key>
			<dict>
				<key>frame</key>
				<string>{{1924,2014},{115,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{115,32}</string>
			</dict>
			<key>images/million_table/turn_this.png</key>
			<dict>
				<key>frame</key>
				<string>{{665,856},{73,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{73,32}</string>
			</dict>
			<key>images/million_table/btn_cancel.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,779},{221,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{221,84}</string>
			</dict>
			<key>images/million_table/btn_confirm.png</key>
			<dict>
				<key>frame</key>
				<string>{{195,1413},{221,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{221,84}</string>
			</dict>
			<key>images/million_table/btn_scroll_setcoin.png</key>
			<dict>
				<key>frame</key>
				<string>{{447,942},{104,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,70}</string>
			</dict>
			<key>images/million_table/scroll_setcoin.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1984},{727,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{727,57}</string>
			</dict>
			<key>images/million_table/title_tzjb.png</key>
			<dict>
				<key>frame</key>
				<string>{{493,1022},{393,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{393,98}</string>
			</dict>
			<key>images/million_table/frame_money.png</key>
			<dict>
				<key>frame</key>
				<string>{{726,1208},{142,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{142,43}</string>
			</dict>
			<key>images/million_table/frame_reword1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1599,2},{694,191}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{694,191}</string>
			</dict>
			<key>images/million_table/frame_reword2.png</key>
			<dict>
				<key>frame</key>
				<string>{{840,1011},{776,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{776,93}</string>
			</dict>
			<key>images/million_table/lose.png</key>
			<dict>
				<key>frame</key>
				<string>{{198,1017},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>images/million_table/title_gzsm.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1018},{393,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{393,98}</string>
			</dict>
			<key>images/million_table/title_jckj.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,369},{393,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{393,98}</string>
			</dict>
			<key>images/million_table/frame_rule_help.png</key>
			<dict>
				<key>frame</key>
				<string>{{1699,700},{716,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{716,89}</string>
			</dict>
			<key>images/million_table/icon_win.png</key>
			<dict>
				<key>frame</key>
				<string>{{104,1211},{68,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,68}</string>
			</dict>
			<key>images/million_table/join_table.png</key>
			<dict>
				<key>frame</key>
				<string>{{387,779},{73,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{73,39}</string>
			</dict>
			<key>images/million_table/reset_table.png</key>
			<dict>
				<key>frame</key>
				<string>{{190,1094},{100,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,39}</string>
			</dict>
			<key>images/million_table/szlb_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1746},{155,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{155,39}</string>
			</dict>
			<key>images/million_table/table_rank_info.png</key>
			<dict>
				<key>frame</key>
				<string>{{665,369},{151,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{151,38}</string>
			</dict>
			<key>images/million_table/undo_banker.png</key>
			<dict>
				<key>frame</key>
				<string>{{479,727},{149,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{149,39}</string>
			</dict>
			<key>images/million_table/wysz_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{438,516},{143,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{143,37}</string>
			</dict>
			<key>images/million_table/frame_record.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1907},{770,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{770,65}</string>
			</dict>
			<key>images/million_table/text_jcxx.png</key>
			<dict>
				<key>frame</key>
				<string>{{671,1612},{112,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{112,28}</string>
			</dict>
			<key>images/million_table/text_sldj.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,875},{188,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{188,49}</string>
			</dict>
			<key>images/million_table/text_title.png</key>
			<dict>
				<key>frame</key>
				<string>{{733,1984},{707,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{707,44}</string>
			</dict>
			<key>images/million_table/text_zjjl.png</key>
			<dict>
				<key>frame</key>
				<string>{{665,524},{111,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{111,28}</string>
			</dict>
			<key>images/million_table/btn_xz_list.png</key>
			<dict>
				<key>frame</key>
				<string>{{283,1413},{221,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{221,84}</string>
			</dict>
			<key>images/million_table/dim.png</key>
			<dict>
				<key>frame</key>
				<string>{{156,1094},{29,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{29,30}</string>
			</dict>
			<key>images/million_table/light.png</key>
			<dict>
				<key>frame</key>
				<string>{{555,942},{76,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,76}</string>
			</dict>
			<key>images/million_table/text_win.png</key>
			<dict>
				<key>frame</key>
				<string>{{1656,1984},{40,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{40,39}</string>
			</dict>
			<key>images/million_table/scroll_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2040,456},{129,6}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{129,6}</string>
			</dict>
			<key>images/million_table/scroll_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{2040,589},{127,5}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{129,6}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>million_table.png</string>
			<key>realTextureFileName</key>
			<string>million_table.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>