<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>s_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,137}</string>
                <key>spriteSourceSize</key>
                <string>{137,137}</string>
                <key>textureRect</key>
                <string>{{0,0},{137,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,137}</string>
                <key>spriteSourceSize</key>
                <string>{137,137}</string>
                <key>textureRect</key>
                <string>{{0,411},{137,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,137}</string>
                <key>spriteSourceSize</key>
                <string>{137,137}</string>
                <key>textureRect</key>
                <string>{{137,411},{137,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,137}</string>
                <key>spriteSourceSize</key>
                <string>{137,137}</string>
                <key>textureRect</key>
                <string>{{274,411},{137,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,137}</string>
                <key>spriteSourceSize</key>
                <string>{137,137}</string>
                <key>textureRect</key>
                <string>{{0,548},{137,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,137}</string>
                <key>spriteSourceSize</key>
                <string>{137,137}</string>
                <key>textureRect</key>
                <string>{{137,548},{137,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,137}</string>
                <key>spriteSourceSize</key>
                <string>{137,137}</string>
                <key>textureRect</key>
                <string>{{274,548},{137,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,137}</string>
                <key>spriteSourceSize</key>
                <string>{137,137}</string>
                <key>textureRect</key>
                <string>{{0,685},{137,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,137}</string>
                <key>spriteSourceSize</key>
                <string>{137,137}</string>
                <key>textureRect</key>
                <string>{{137,685},{137,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,137}</string>
                <key>spriteSourceSize</key>
                <string>{137,137}</string>
                <key>textureRect</key>
                <string>{{137,0},{137,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,137}</string>
                <key>spriteSourceSize</key>
                <string>{137,137}</string>
                <key>textureRect</key>
                <string>{{274,0},{137,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,137}</string>
                <key>spriteSourceSize</key>
                <string>{137,137}</string>
                <key>textureRect</key>
                <string>{{0,137},{137,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,137}</string>
                <key>spriteSourceSize</key>
                <string>{137,137}</string>
                <key>textureRect</key>
                <string>{{137,137},{137,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,137}</string>
                <key>spriteSourceSize</key>
                <string>{137,137}</string>
                <key>textureRect</key>
                <string>{{274,137},{137,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,137}</string>
                <key>spriteSourceSize</key>
                <string>{137,137}</string>
                <key>textureRect</key>
                <string>{{0,274},{137,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,137}</string>
                <key>spriteSourceSize</key>
                <string>{137,137}</string>
                <key>textureRect</key>
                <string>{{137,274},{137,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,137}</string>
                <key>spriteSourceSize</key>
                <string>{137,137}</string>
                <key>textureRect</key>
                <string>{{274,274},{137,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>lor.png</string>
            <key>size</key>
            <string>{411,822}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:75477c5efd3a2a7d172012f0c74b6031:0cb869bf8b3066d24aae7ecd8fd8d27f:213f83936e2a40d0354fcd3a7bc45bbd$</string>
            <key>textureFileName</key>
            <string>lor.png</string>
        </dict>
    </dict>
</plist>
