<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		
		
		<key>fk-1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {176, 192}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{176, 192}</string>
			<key>spriteSourceSize</key>
			<string>{176, 192}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1682, 1890}, {176, 192}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>fk-10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {176, 192}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{176, 192}</string>
			<key>spriteSourceSize</key>
			<string>{176, 192}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1682, 1502}, {176, 192}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>fk-11.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {176, 192}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{176, 192}</string>
			<key>spriteSourceSize</key>
			<string>{176, 192}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1504, 1320}, {176, 192}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>fk-12.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {176, 192}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{176, 192}</string>
			<key>spriteSourceSize</key>
			<string>{176, 192}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{970, 1326}, {176, 192}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>fk-13.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {176, 192}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{176, 192}</string>
			<key>spriteSourceSize</key>
			<string>{176, 192}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{970, 1132}, {176, 192}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>fk-2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {176, 192}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{176, 192}</string>
			<key>spriteSourceSize</key>
			<string>{176, 192}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1682, 1696}, {176, 192}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>fk-3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {176, 192}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{176, 192}</string>
			<key>spriteSourceSize</key>
			<string>{176, 192}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1326, 1548}, {176, 192}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>fk-4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {176, 192}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{176, 192}</string>
			<key>spriteSourceSize</key>
			<string>{176, 192}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1870, 1308}, {176, 192}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>fk-5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {174, 192}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{174, 192}</string>
			<key>spriteSourceSize</key>
			<string>{176, 192}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1332, 2478}, {174, 192}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>fk-6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {176, 192}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{176, 192}</string>
			<key>spriteSourceSize</key>
			<string>{176, 192}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{970, 1520}, {176, 192}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>fk-7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {176, 192}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{176, 192}</string>
			<key>spriteSourceSize</key>
			<string>{176, 192}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1860, 1696}, {176, 192}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>fk-8.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {176, 192}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{176, 192}</string>
			<key>spriteSourceSize</key>
			<string>{176, 192}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1514, 1126}, {176, 192}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>fk-9.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {176, 192}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{176, 192}</string>
			<key>spriteSourceSize</key>
			<string>{176, 192}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1362, 772}, {176, 192}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hei-1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {176, 190}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{176, 190}</string>
			<key>spriteSourceSize</key>
			<string>{176, 192}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1154, 2126}, {176, 190}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hei-10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {176, 190}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{176, 190}</string>
			<key>spriteSourceSize</key>
			<string>{176, 192}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{976, 2290}, {176, 190}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hei-11.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {176, 190}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{176, 190}</string>
			<key>spriteSourceSize</key>
			<string>{176, 192}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1148, 1714}, {176, 190}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hei-12.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {176, 190}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{176, 190}</string>
			<key>spriteSourceSize</key>
			<string>{176, 192}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{970, 1714}, {176, 190}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hei-13.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {176, 190}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{176, 190}</string>
			<key>spriteSourceSize</key>
			<string>{176, 192}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{970, 1906}, {176, 190}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hei-2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {176, 192}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{176, 192}</string>
			<key>spriteSourceSize</key>
			<string>{176, 192}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1718, 1114}, {176, 192}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hei-3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {176, 190}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{176, 190}</string>
			<key>spriteSourceSize</key>
			<string>{176, 192}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1504, 2094}, {176, 190}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hei-4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {176, 190}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{176, 190}</string>
			<key>spriteSourceSize</key>
			<string>{176, 192}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{620, 2104}, {176, 190}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hei-5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {176, 190}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{176, 190}</string>
			<key>spriteSourceSize</key>
			<string>{176, 192}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1682, 2084}, {176, 190}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hei-6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {174, 190}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{174, 190}</string>
			<key>spriteSourceSize</key>
			<string>{176, 192}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1686, 2468}, {174, 190}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hei-7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {176, 190}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{176, 190}</string>
			<key>spriteSourceSize</key>
			<string>{176, 192}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{620, 1912}, {176, 190}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hei-8.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {176, 190}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{176, 190}</string>
			<key>spriteSourceSize</key>
			<string>{176, 192}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1860, 2276}, {176, 190}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hei-9.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {176, 190}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{176, 190}</string>
			<key>spriteSourceSize</key>
			<string>{176, 192}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{976, 2098}, {176, 190}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hong-1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {176, 190}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{176, 190}</string>
			<key>spriteSourceSize</key>
			<string>{176, 192}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{798, 2098}, {176, 190}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hong-10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {176, 190}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{176, 190}</string>
			<key>spriteSourceSize</key>
			<string>{176, 192}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1860, 2084}, {176, 190}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hong-11.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {176, 190}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{176, 190}</string>
			<key>spriteSourceSize</key>
			<string>{176, 192}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1326, 1934}, {176, 190}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hong-12.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {176, 190}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{176, 190}</string>
			<key>spriteSourceSize</key>
			<string>{176, 192}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{798, 2290}, {176, 190}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hong-13.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {176, 190}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{176, 190}</string>
			<key>spriteSourceSize</key>
			<string>{176, 192}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1326, 1742}, {176, 190}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hong-2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {176, 192}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{176, 192}</string>
			<key>spriteSourceSize</key>
			<string>{176, 192}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1596, 738}, {176, 192}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hong-3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {176, 190}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{176, 190}</string>
			<key>spriteSourceSize</key>
			<string>{176, 192}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1682, 2276}, {176, 190}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hong-4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {176, 190}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{176, 190}</string>
			<key>spriteSourceSize</key>
			<string>{176, 192}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1332, 2286}, {176, 190}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hong-5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {176, 192}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{176, 192}</string>
			<key>spriteSourceSize</key>
			<string>{176, 192}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1326, 1354}, {176, 192}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hong-6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {174, 190}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{174, 190}</string>
			<key>spriteSourceSize</key>
			<string>{176, 192}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1862, 2468}, {174, 190}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hong-7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {176, 190}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{176, 190}</string>
			<key>spriteSourceSize</key>
			<string>{176, 192}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1148, 1906}, {176, 190}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hong-8.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {176, 190}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{176, 190}</string>
			<key>spriteSourceSize</key>
			<string>{176, 192}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1154, 2318}, {176, 190}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hong-9.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {176, 190}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{176, 190}</string>
			<key>spriteSourceSize</key>
			<string>{176, 192}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1504, 1902}, {176, 190}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jiesuan.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {62, 54}}</string>
			<key>spriteOffset</key>
			<string>{0, 3}</string>
			<key>spriteSize</key>
			<string>{62, 54}</string>
			<key>spriteSourceSize</key>
			<string>{62, 62}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1596, 538}, {62, 54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jiesuan03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {138, 40}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{138, 40}</string>
			<key>spriteSourceSize</key>
			<string>{140, 40}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1896, 1114}, {138, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jiesuan06.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 0}, {134, 40}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{134, 40}</string>
			<key>spriteSourceSize</key>
			<string>{140, 40}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1896, 1156}, {134, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jiesuan1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {364, 116}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{364, 116}</string>
			<key>spriteSourceSize</key>
			<string>{364, 116}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{970, 1014}, {364, 116}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jiesuan10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {62, 62}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{62, 62}</string>
			<key>spriteSourceSize</key>
			<string>{62, 62}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1986, 516}, {62, 62}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jiesuan12.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {1118, 372}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{1118, 372}</string>
			<key>spriteSourceSize</key>
			<string>{1118, 372}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 2602}, {1118, 372}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jiesuan13.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {1360, 894}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{1360, 894}</string>
			<key>spriteSourceSize</key>
			<string>{1360, 894}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {1360, 894}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jiesuan15.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {1118, 364}}</string>
			<key>spriteOffset</key>
			<string>{0, 4}</string>
			<key>spriteSize</key>
			<string>{1118, 364}</string>
			<key>spriteSourceSize</key>
			<string>{1118, 372}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 3344}, {1118, 364}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jiesuan2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {364, 116}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{364, 116}</string>
			<key>spriteSourceSize</key>
			<string>{364, 116}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{970, 896}, {364, 116}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jiesuan3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {36, 36}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{36, 36}</string>
			<key>spriteSourceSize</key>
			<string>{36, 36}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1596, 650}, {36, 36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jiesuan4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {42, 60}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{42, 60}</string>
			<key>spriteSourceSize</key>
			<string>{42, 60}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1996, 454}, {42, 60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jiesuan5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {42, 60}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{42, 60}</string>
			<key>spriteSourceSize</key>
			<string>{42, 60}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1838, 544}, {42, 60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jiesuan6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {42, 60}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{42, 60}</string>
			<key>spriteSourceSize</key>
			<string>{42, 60}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1996, 392}, {42, 60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jiesuan7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {38, 36}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{38, 36}</string>
			<key>spriteSourceSize</key>
			<string>{38, 36}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1838, 606}, {38, 36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jiesuan8.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 0}, {30, 36}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{30, 36}</string>
			<key>spriteSourceSize</key>
			<string>{36, 36}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1596, 688}, {30, 36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jiesuan9.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {1118, 366}}</string>
			<key>spriteOffset</key>
			<string>{0, 3}</string>
			<key>spriteSize</key>
			<string>{1118, 366}</string>
			<key>spriteSourceSize</key>
			<string>{1118, 372}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 2976}, {1118, 366}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jiesuan_03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {618, 212}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{618, 212}</string>
			<key>spriteSourceSize</key>
			<string>{618, 212}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 1912}, {618, 212}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mh-1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {176, 192}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{176, 192}</string>
			<key>spriteSourceSize</key>
			<string>{176, 192}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1148, 1520}, {176, 192}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mh-10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {176, 192}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{176, 192}</string>
			<key>spriteSourceSize</key>
			<string>{176, 192}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1540, 932}, {176, 192}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mh-11.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {176, 192}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{176, 192}</string>
			<key>spriteSourceSize</key>
			<string>{176, 192}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1660, 544}, {176, 192}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mh-12.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {176, 192}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{176, 192}</string>
			<key>spriteSourceSize</key>
			<string>{176, 192}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1504, 1708}, {176, 192}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mh-13.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {176, 192}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{176, 192}</string>
			<key>spriteSourceSize</key>
			<string>{176, 192}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1504, 1514}, {176, 192}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mh-2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {176, 192}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{176, 192}</string>
			<key>spriteSourceSize</key>
			<string>{176, 192}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1148, 1132}, {176, 192}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mh-3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {176, 192}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{176, 192}</string>
			<key>spriteSourceSize</key>
			<string>{176, 192}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1326, 1160}, {176, 192}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mh-4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {176, 192}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{176, 192}</string>
			<key>spriteSourceSize</key>
			<string>{176, 192}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1860, 1502}, {176, 192}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mh-5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {174, 192}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{174, 192}</string>
			<key>spriteSourceSize</key>
			<string>{176, 192}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1510, 2468}, {174, 192}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mh-6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {176, 192}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{176, 192}</string>
			<key>spriteSourceSize</key>
			<string>{176, 192}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1774, 920}, {176, 192}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mh-7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {176, 192}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{176, 192}</string>
			<key>spriteSourceSize</key>
			<string>{176, 192}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1692, 1308}, {176, 192}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mh-8.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {176, 192}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{176, 192}</string>
			<key>spriteSourceSize</key>
			<string>{176, 192}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1336, 966}, {176, 192}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mh-9.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {176, 192}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{176, 192}</string>
			<key>spriteSourceSize</key>
			<string>{176, 192}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1838, 726}, {176, 192}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		
		
		<key>youxi1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{18, 17}, {200, 200}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{200, 200}</string>
			<key>spriteSourceSize</key>
			<string>{236, 236}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1682, 342}, {200, 200}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>youxi10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {968, 1014}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{968, 1014}</string>
			<key>spriteSourceSize</key>
			<string>{970, 1016}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 896}, {968, 1014}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>youxi11.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {128, 128}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{128, 128}</string>
			<key>spriteSourceSize</key>
			<string>{128, 128}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1900, 138}, {128, 128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>youxi12.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {274, 114}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{274, 114}</string>
			<key>spriteSourceSize</key>
			<string>{276, 116}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{276, 2126}, {274, 114}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>youxi13.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 1}, {274, 114}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{274, 114}</string>
			<key>spriteSourceSize</key>
			<string>{276, 116}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1686, 2660}, {274, 114}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>youxi14.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {274, 114}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{274, 114}</string>
			<key>spriteSourceSize</key>
			<string>{276, 116}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 2242}, {274, 114}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>youxi15.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {736, 96}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{736, 96}</string>
			<key>spriteSourceSize</key>
			<string>{738, 98}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1120, 2776}, {736, 96}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>youxi16.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {136, 136}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{136, 136}</string>
			<key>spriteSourceSize</key>
			<string>{136, 136}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1900, 0}, {136, 136}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>youxi17.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {132, 122}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{132, 122}</string>
			<key>spriteSourceSize</key>
			<string>{132, 122}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1900, 268}, {132, 122}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>youxi18.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 1}, {274, 114}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{274, 114}</string>
			<key>spriteSourceSize</key>
			<string>{276, 116}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 2126}, {274, 114}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>youxi19.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {660, 120}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{660, 120}</string>
			<key>spriteSourceSize</key>
			<string>{660, 120}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 2480}, {660, 120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>youxi2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {536, 340}}</string>
			<key>spriteOffset</key>
			<string>{0, 3}</string>
			<key>spriteSize</key>
			<string>{536, 340}</string>
			<key>spriteSourceSize</key>
			<string>{536, 346}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1362, 0}, {536, 340}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>youxi20.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {660, 120}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{660, 120}</string>
			<key>spriteSourceSize</key>
			<string>{660, 120}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 2358}, {660, 120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>youxi3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {110, 110}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{110, 110}</string>
			<key>spriteSourceSize</key>
			<string>{110, 110}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1884, 392}, {110, 110}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>youxi4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 1}, {232, 232}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{232, 232}</string>
			<key>spriteSourceSize</key>
			<string>{236, 236}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1362, 538}, {232, 232}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>youxi5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {318, 194}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{318, 194}</string>
			<key>spriteSourceSize</key>
			<string>{318, 194}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1362, 342}, {318, 194}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>youxi6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {58, 60}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{58, 60}</string>
			<key>spriteSourceSize</key>
			<string>{58, 60}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1986, 580}, {58, 60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>youxi7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {94, 112}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{94, 112}</string>
			<key>spriteSourceSize</key>
			<string>{94, 114}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1878, 612}, {94, 112}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>youxi8.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {100, 106}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{100, 106}</string>
			<key>spriteSourceSize</key>
			<string>{100, 106}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1884, 504}, {100, 106}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>youxi9.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 4}, {58, 54}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{58, 54}</string>
			<key>spriteSourceSize</key>
			<string>{58, 60}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1596, 594}, {58, 54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.2</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{2048, 4096}</string>
		<key>name</key>
		<string>Untitled</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>GameSence</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>GameSence</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>